* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --color: #00008c;
}

body {
  background-color: #efeeee;
  font-family: sans-serif;
}

::selection {
  background-color: rgb(0, 175, 175);
  color: white;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: teal;
}